{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- Custom Styles -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
  <!-- Iconify -->
  <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
  <!-- Jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'site.webmanifest' %}">
  {% block style %}{% endblock style %}
  <!-- Chart JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Title -->
  <title>{% block title %} {% endblock %}</title>
</head>

<body style="overflow-x: hidden;">
  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="d-flex flex-nowrap">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="height: 100vh;">

          <a href="/" class="d-flex align-items-center ms-4 mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img class="bi pe-none me-2" src="{% static 'img/Gujarat_Police_Logo.png' %}" width="30" height="40"></img>
            <span class="fs-4 fw-bold">Granthi</span>
          </a>

          <ul class="nav nav-pills flex-column mt-4" id="list-style-ul">
            <p class="text-start ms-2 opacity-50">Menu</p>

            {%if district %}
            <li class="nav-item m-1">
              <a href="/dashboard/"
                class="nav-link d-flex align-items-center  {% if current == 'overview' %} active {% endif %} link-dark"
                id="nav-text" aria-current="page">
                <iconify-icon icon="charm:layout-dashboard" id="menu-icons" class="me-2" width="20" height="20">
                </iconify-icon>
                <span>Overview</span>
              </a>
            </li>
            {% endif %}
            <li class="nav-item m-1">
              <a href="/dashboard/detailed"
                class="nav-link d-flex align-items-center {% if current == 'detailed' %} active {% endif %} link-dark">
                <iconify-icon icon="ant-design:pie-chart-outlined" id="menu-icons" class="bi pe-none me-2" width="20"
                  height="20">
                </iconify-icon>
                Detailed
              </a>
            </li>
            <li class="nav-item m-1">
              <a href="/dashboard/qrgenerator"
                class="nav-link d-flex align-items-center {% if current == 'qrgenerator' %} active {% endif %} link-dark">
                <iconify-icon icon="bi:qr-code-scan" id="menu-icons" class="bi pe-none me-2" width="20" height="20">
                </iconify-icon>
                Generate QR
              </a>
            </li>
            <li class="nav-item m-1">
              <a href="/dashboard/updatepassword"
                class="nav-link d-flex align-items-center {% if current == 'updatepassword' %} active {% endif %} link-dark">
                <iconify-icon icon="material-symbols:key-outline" id="menu-icons" class="bi pe-none me-2" width="20"
                  height="20">
                </iconify-icon>
                Update Password
              </a>
            </li>
            <li class="nav-item m-1">
              <a href="/dashboard/complaints"
                class="nav-link d-flex align-items-center {% if current == 'complaints' %} active {% endif %} link-dark">
                <iconify-icon icon="material-symbols:chat-bubble-outline-rounded" id="menu-icons" class="bi pe-none me-2" width="20"
                  height="20">
                </iconify-icon>
                Complaints
              </a>
            </li>
            <li class="mt-4 border text-center rounded" style="background-color: #f8f9fb;">
              <a href="/admin/logout" class="nav-link link-dark d-flex align-items-center justify-content-center" tabindex="-1" role="button" aria-disabled="true">
                <iconify-icon icon="iconoir:log-in" id="menu-icons"></iconify-icon> Log out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div id="content" class="p-2">
      {% block body %} {% endblock %}
    </div>
  </div>

  {% block script %} {% endblock %}


  <script src="{% static 'js/dashboard.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

</body>

</html>