{% extends "dashboard.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="row">

    <div class="container mt-5" style="background-color: #fff;">
        <div class="row">
            <div class="col mt-5 ms-5 fs-4">
                <p>No.Of Responses</p>
            </div>
            <div id="form-date" class="col d-flex justify-content-end mt-2">
                <label>Date :</label>
                <select style="border:none; height:25px;">
                    <option value="td">Today</option>
                    <option value="l7d">last 7 days</option>
                    <option value="l30d" selected>last 30 days</option>
                    <option value="l90d">last 90 days</option>
                    <option value="l365d">last 365 days</option>
                    <option value="at">All time</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col m-2">
                <canvas id="total-res"></canvas>
            </div>
        </div>
    </div>

    <div class="col-6">
        <!-- 1 Question report -->
        <div class="row">
            <div class="container rounded mt-2 mb-2" style="background-color: #fff;">
                <div class="row">
                    <div class="col mt-3">
                        <p>Question - 1</p>
                    </div>
                </div>

                <div class="row" style="background-color: #e7e7ef;">
                    <div class="col mt-2">
                        <!-- Question -->
                        <p>How would you rate behaviour of the police officers?</p>
                    </div>
                </div>

                <div class="row p-3">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <canvas id="q1d" width="300" height="300"></canvas>
                        </div>
                    </div>
                </div>

                <!-- Table -->
                <div class="row border-top mt-2">
                    <div class="col">
                        <table id="tq1" class="table table-borderless">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Answer Choices</th>
                                    <th scope="col">Counts</th>
                                    <th scope="col">Percentage</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>Through a person known to a police officer</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>With a neighbour/ local leader</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>On your own</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container rounded mt-2 mb-2" style="background-color: #fff;">
                <div class="row">
                    <div class="col mt-3">
                        <p>Question - 2</p>
                    </div>
                </div>

                <div class="row" style="background-color: #e7e7ef;">
                    <div class="col mt-2">
                        <!-- Question -->
                        <p>How would you rate behaviour of the police officers?</p>
                    </div>
                </div>

                <div class="row p-3">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <canvas id="q2d" width="300" height="300"></canvas>
                        </div>
                    </div>
                </div>

                <!-- Table -->
                <div class="row border-top mt-2">
                    <div class="col">
                        <table id="tq2" class="table table-borderless">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Answer Choices</th>
                                    <th scope="col">Counts</th>
                                    <th scope="col">Percentage</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>More than 15 minutes</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>15 minutes</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>10 minutes</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>5 minutes</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>Immediately</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container rounded mt-2 mb-2" style="background-color: #fff;">
                <div class="row">
                    <div class="col mt-3">
                        <p>Question - 3</p>
                    </div>
                </div>

                <div class="row" style="background-color: #e7e7ef;">
                    <div class="col mt-2">
                        <!-- Question -->
                        <p>How would you rate behaviour of the police officers (पुलिस अधिकारियों के व्यव्हार को आप कैसे
                            आंकते हैं)</p>
                    </div>
                </div>

                <div class="row p-3">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <canvas id="q3d" width="300" height="300"></canvas>
                        </div>
                    </div>
                </div>

                <!-- Table -->
                <div class="row border-top mt-2">
                    <div class="col">
                        <table id="tq3" class="table table-borderless">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Answer Choices</th>
                                    <th scope="col">Counts</th>
                                    <th scope="col">Percentage</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>Worst</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>Bad</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>Good</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>V.Good</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>Excellent</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 rounded mt-1">
        <table id="dtotal" class="table table-hover">
            <thead>
                <tr>
                    <th>District</th>
                    <th>This year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ahmedabad</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Amreli</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Aravalli</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Anand</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Banaskantha</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Bharuch</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Bhavnagar</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Botad</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Chhota Udaipur</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Dahod</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Dang</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Dwarka</td>
                    <td>0</td>
                </tr>

                <tr>
                    <td>Gandhinagar</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Gir Somnath</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Jamnagar</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Junagadh</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Kutch</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Kheda</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Mahisagar</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Mehsana</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Morbi</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Narmada</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Navsari</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Panchmahal</td>
                    <td>0</td>
                </tr>

                <tr>
                    <td>Patan</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Porbandar</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Rajkot</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Sabarkantha</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Surat</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Surendranagar</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Tapi</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Vadodara</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Valsad</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'chart.js' %}"></script>

<script>
    const config_t = {
        type: 'bar',
        data: {
            datasets: datasets[3],
            labels: ['January','February','March','April','May','June','July','August','September','October','November','December'],
        },
        options: options,
    }
    // const Tchart = new Chart('total-res', config_t);
    // Tchart.options.plugins.legend.display = false;
    // Tchart.data.datasets[0].data = [1,2,3,4,5,6,7,8,9,10,11,12];
    // Tchart.update();
</script>

<script>
    window.onload = function () {
        $.getJSON("/dashboard/get/question/all", { 'filter-date': 'l30d' }, function (result) {
            datasets[0][0].data = Object.values(result['q1']['percentage']);
            q2.data.datasets[0].data = Object.values(result['q2']['percentage']);
            q3.data.datasets[0].data = Object.values(result['q3']['percentage']);
            chartUpdate();

            var i = 1;
            var j = 1;
            for (id in result) {
                $('#t' + id + ' tbody tr td:nth-child(2)').each(function () {
                    if (result[id]['count'][i])
                        $(this).text(addCommas(result[id]['count'][i]));
                    i++;
                });
                $('#t' + id + ' tbody tr td:nth-child(3)').each(function () {
                    if (result[id]['percentage'][j])
                        $(this).text(addCommas(String(result[id]['percentage'][j]).slice(0, 4)) + '%');
                    j++;
                });
            }
        });

        $.getJSON("/dashboard/get/district/total", { 'filter-date': 'l365d' }, function (result) {
            for (id in result) {
                $($('#dtotal tbody tr td:nth-child(2)')[id - 1]).text(addCommas(result[id]));
            }
        });

    }

</script>
{% endblock %}