{% extends "dashboard.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="row">

    <div class="col-6">
        <!-- 1 Question report -->
        <div class="row">
            <div class="container rounded mt-2 mb-2" style="background-color: #fff;">
                <div class="row">
                    <div class="col mt-3">
                        <p>Question - 1</p>
                    </div>
                </div>

                <div class="row" style="background-color: #e7e7ef;">
                    <div class="col mt-2">
                        <!-- Question -->
                        <p>How would you rate behaviour of the police officers?</p>
                    </div>
                </div>

                <div class="row p-3">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <canvas id="q1d" width="300" height="300"></canvas>
                        </div>
                    </div>
                </div>

                <!-- Table -->
                <div class="row border-top mt-2">
                    <div class="col">
                        <table id="tq1" class="table table-borderless">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Answer Choices</th>
                                    <th scope="col">Counts</th>
                                    <th scope="col">Percentage</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>Through a person known to a police officer</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>With a neighbour/ local leader</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>On your own</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container rounded mt-2 mb-2" style="background-color: #fff;">
                <div class="row">
                    <div class="col mt-3">
                        <p>Question - 2</p>
                    </div>
                </div>

                <div class="row" style="background-color: #e7e7ef;">
                    <div class="col mt-2">
                        <!-- Question -->
                        <p>How would you rate behaviour of the police officers?</p>
                    </div>
                </div>

                <div class="row p-3">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <canvas id="q2d" width="300" height="300"></canvas>
                        </div>
                    </div>
                </div>

                <!-- Table -->
                <div class="row border-top mt-2">
                    <div class="col">
                        <table id="tq2" class="table table-borderless">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Answer Choices</th>
                                    <th scope="col">Counts</th>
                                    <th scope="col">Percentage</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>More than 15 minutes</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>15 minutes</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>10 minutes</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>5 minutes</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>Immediately</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container rounded mt-2 mb-2" style="background-color: #fff;">
                <div class="row">
                    <div class="col mt-3">
                        <p>Question - 3</p>
                    </div>
                </div>

                <div class="row" style="background-color: #e7e7ef;">
                    <div class="col mt-2">
                        <!-- Question -->
                        <p>How would you rate behaviour of the police officers (पुलिस अधिकारियों के व्यव्हार को आप कैसे
                            आंकते हैं)</p>
                    </div>
                </div>

                <div class="row p-3">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <canvas id="q3d" width="300" height="300"></canvas>
                        </div>
                    </div>
                </div>

                <!-- Table -->
                <div class="row border-top mt-2">
                    <div class="col">
                        <table id="tq3" class="table table-borderless">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Answer Choices</th>
                                    <th scope="col">Counts</th>
                                    <th scope="col">Percentage</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>Worst</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>Bad</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>Good</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>V.Good</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>Excellent</td>
                                    <td>0</td>
                                    <td>0%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 rounded mt-1">
        <table id="dtotal" class="table table-hover" style="border-radius:6px;">
            <thead>
                <tr>
                    <th>District</th>
                    <th>This year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ahmedabad</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Amreli</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Aravalli</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Anand</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Banaskantha</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Bharuch</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Bhavnagar</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Botad</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Chhota Udaipur</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Dahod</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Dang</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Dwarka</td>
                    <td>0</td>
                </tr>

                <tr>
                    <td>Gandhinagar</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Gir Somnath</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Jamnagar</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Junagadh</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Kutch</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Kheda</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Mahisagar</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Mehsana</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Morbi</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Narmada</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Navsari</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Panchmahal</td>
                    <td>0</td>
                </tr>

                <tr>
                    <td>Patan</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Porbandar</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Rajkot</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Sabarkantha</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Surat</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Surendranagar</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Tapi</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Vadodara</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Valsad</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/questions.js' %}"></script>

<script>
    window.onload = function () {
        $.getJSON("/dashboard/get/question/all", { 'filter-date': 'l365d' }, function (result) {
            updateData(result);
        });

        $.getJSON("/dashboard/get/district/total", { 'filter-date': 'l365d' }, function (result) {
            for (id in result) {
                $($('#dtotal tbody tr td:nth-child(2)')[id - 1]).text(addCommas(result[id]));
            }
        });
    }
</script>
{% endblock %}