{% extends "dashboard.html" %}
{% load static %}

{% block title %}Generate QR Code{% endblock title %}

{% block body %}
<!-- Form -->
<div class="row">
  <div class="container mt-1 rounded border" style="background-color: #fff">
    <form>
      <div class="row">
        <div class="col-6 p-3">
          <select id="form-district" class="form-select w-100 border-bottom border-dark border-0"
            aria-label="Select District" onchange="get_taluka($('#form-district').find(':selected').val())">
            <option selected value="default" disabled>Select District</option>
          </select>
        </div>
        <div class="col-6 p-3">
          <select id="form-taluka" class="form-select w-100 border-bottom border-dark border-0"
            aria-label="Select Taluka" onchange="get_policestation($('#form-taluka').find(':selected').val())">
            <option selected value="default" disabled>Select Taluka</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-8 p-3">
          <select id="form-policestation" class="form-select w-100 border-bottom border-dark border-0"
            aria-label="Select Station">
            <option selected value="default" disabled>Select Police Station</option>
          </select>
        </div>
        <div class="col d-grid align-self-center">
          <button type="button" class="btn btn-outline-primary btn-lg mb-1" id="gen-qr-btn" onclick="generate()">Generate QR Code</button>
        </div>
        <div class="col d-grid align-self-center">
          <button type="reset" class="btn btn-outline-danger btn-lg mb-1" id="reset-btn"
            onclick="form_reset()">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Print / Download Btns -->
<div class="row mt-3 justify-content-center">
  <div class="col d-flex justify-content-end">
    <button type="button" onclick="printbtn()" class="btn btn-light btn-lg">
      <iconify-icon icon="ant-design:printer-filled" height="30" width="30"
        style="vertical-align: middle;color: black;"></iconify-icon>
      Print
    </button>
  </div>
  <div class="col">
    <button type="button" onclick="down_btn()" class="btn btn-light btn-lg  text-wrap">
      <iconify-icon icon="bxs:download" height="30" width="30" style="vertical-align: middle;color: black;">
      </iconify-icon>
      Download
    </button>
  </div>
</div>

<!-- QR Code PDF Container -->
<div class="row justify-content-center">
  <div class="col-6" style="width: 670px;">
    <div id="container-print" class="rounded" style="background-color: #fff;width: inherit; height: 876px;">
      <div class="row mt-3 mb-1">
        <div class="col d-flex justify-content-center mt-1">
          <img src="{% static 'Gujarat_Police_Logo.png' %}" alt="Gujarat_Police_Logo" height="188px" width="145px">
        </div>
      </div>
      <div class="wrapper lh-2 d-flex flex-column align-items-center">
        <p class="text-center fs-5">
          Feedback Form/ફીડબેક ફોર્મ
        </p>
        <p class="text-center">
          Scan Here to Rate Your Police Station Visit <br>
          તમારી પોલીસ સ્ટેશનની મુલાકાતને રેટ કરવા માટે અહીં સ્કેન કરો
        </p>
      </div>

      <div class="qr-code-wrapper d-flex flex-column align-items-center">
        <div id="qrcode" class="mt-5"></div>
        <p class="mt-5 text-sm-start"><span id="ename">Police Station Name</span>/<span id="gname">પોલીસ સ્ટેશનનું નામ</span></p>

        <div class="icon-step">
          <div class="row">
            <div class="col">
              <img src="{% static 'Icons/Icon-1.png' %}" alt="Open Camera App" width="120" height="162">
            </div>
            <div class="col align-self-center">
              <iconify-icon icon="akar-icons:arrow-right" width="40" hight="20"></iconify-icon>
            </div>
            <div class="col">
              <img src="{% static 'Icons/Icon-2.png' %}" alt="Scan QR Code" width="125" height="162">
            </div>
            <div class="col align-self-center">
              <iconify-icon icon="akar-icons:arrow-right" width="40" hight="20"></iconify-icon>
            </div>
            <div class="col align-self-center">
              <img src="{% static 'Icons/Icon-3.png' %}" alt="Fill Feedback" width="120" height="162">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock body %}


{% block script %}

<!-- Form handlers -->
<script>
  function get_selected(id){
    return $(id).find(':selected').val();
  }

  var qrcode = new QRCode("qrcode", "");

  $.get("/dashboard/get/district/all", function (data) {
    for (id in data) {
      $('#form-district').append(`<option value="${id}">${data[id]}</option>`);
    }
  });

  function get_taluka(district_id) {
    $('#form-taluka').html(`<option selected value="default" disabled>Select Taluka</option>`);

    $.get("/dashboard/get/taluka/all", { 'district-id': district_id }, function (data) {
      for (id in data) {
        $('#form-taluka').append(`<option value="${id}">${data[id]}</option>`);
      }
    });
  }

  function get_policestation(taluka_id) {
    $('#form-policestation').html(`<option selected value="default" disabled>Select Police Station</option>`);

    $.get("/dashboard/get/policestation/all", { 'taluka-id': taluka_id }, function (data) {
      for (id in data) {
        $('#form-policestation').append(`<option value="${id}">${data[id]}</option>`);
      }
    });
  }

  function generate() {
    if (get_selected('#form-policestation') !== 'default') {
      $.getJSON("/dashboard/get/qrid", { 'psid': get_selected('#form-policestation')}, function (data) {
        qrcode.makeCode(window.location.host+'/feedback/'+ data['qrid']);
        $('#ename').text(data['ename']);
        $('#gname').text(data['gname']); 
      });
    }
  }
</script>


<script>
  function printbtn() {
    $('#container-print').printThis({
      importCSS: true,
      printDelay: 333,
      beforePrint: null, // function called before iframe is filled
      afterPrint: null, // function called after iframe is filled
      base: window.location.href
    })
  }
  function down_btn() {
    html2canvas(document.querySelector("#container-print")).then((canvas) => {
      let base64image = canvas.toDataURL('image/png');
      let pdf = new jsPDF("p", 'px', [1600, 1131]);
      pdf.addImage(base64image, 'PNG', 0, 30, 1130, 1450);
      pdf.save('horray.pdf');
    });
  }
</script>
{% endblock script %}