{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Chatbot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>

    <link rel="stylesheet" href="{% static 'chatbot.css' %}">
</head>

<body>
    <div class="container bottom-0 end-0" id="chatbot-container">
        <div class="chatbot-header d-flex mt-2 mb-1 justify-content-start">
            <button class="d-flex align-items-center ms-1 me-2" id="closeChatButton">
                <iconify-icon icon="material-symbols:close-rounded" width="30" height="30"></iconify-icon>
            </button>
            <button class="d-flex align-items-center" id="refreshChatButton">
                <iconify-icon icon="material-symbols:refresh-rounded" width="30" height="30"></iconify-icon>
            </button>
        </div>
        <div id="message-container">
            <div class="message bot">Welcome to the chatbot!</div>
            <div class="message bot">How can I help you today?</div>
            <div class="message bot">
                <button onclick="sendMessage('Safety Tips')">Safety Tips</button>
                <button id="reportButton">Report a Complaint</button>
                <button onclick="sendMessage('End Chat')">End Chat</button>
            </div>
        </div>
    </div>

    <div id="chatbot-icon" class="d-flex align-items-center justify-content-center">
        <img src="{% static 'bot.gif' %}" alt="ChatBot" id="bot-img">
    </div>

    <script src="{% static 'chatbot.js' %}"></script>

</body>

</html>