<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tools</title>
</head>
<body>
    <h3><a href="/tools/insert-district-taluka-data">insert-district-taluka-data</a></h3>
    <h3><a href="/tools/insert-test-dataset">insert-test-dataset</a></h3>
    <h3><a href="/tools/insert-Feedback-Dataset">insert-Feedback-Dataset</a></h3>
</body>
</html>