{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block body %}
  <div class="container" style="max-width: 960px !important;">
    <form action="/feedback/{{ psid }}" method="post">
      {% csrf_token %}
      <img src="{% static 'Gujarat_Police_Logo.png' %}" alt="Gujarat Police Logo"
        class="w-35 mx-auto d-block img-fluid mt-4" style="max-width: 150px;">

      <h2 class="text-center mt-4">Thanks for visiting {{ ps }} Police Station</h2>
      <h5 class="text-center">{{ gu_ps }} પોલીસ સ્ટેશનની મુલાકાત લેવા બદલ આભાર</h5>

      <input type="text" placeholder="Your Name" name="name" class="form-control p-2 fs-4 mt-3 border rounded-1" required>

      <input type="number" placeholder="Mobile Number" name="mobile-num" maxlength="10" class="form-control p-2 fs-4 mt-3 border rounded-1" required>
      <br>
      <input type="submit" class="btn btn-primary w-100 fs-4">
    </form>
  </div>
{% endblock body %}